<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <!-- <ion-button (click)="onOpenMenu()">Open</ion-button> -->
    </ion-buttons>
    <ion-title>Discover Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-paading">
  <ion-segment  (ionChange)="onFilterUpdate($event)" value="All">
  <ion-segment-button value="All"  >All Places</ion-segment-button>
  <ion-segment-button value="bookable" >Bookable Places</ion-segment-button>
  </ion-segment>
  <ion-grid *ngIf="isLoading">
    <ion-row>
      <ion-col>
        <ion-spinner color="primary" ></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading &&(!relevantPlaces || relevantPlaces.length <= 0)">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <p>There are no bookable places right now, please come back later</p>
      </ion-col>
      </ion-row>
  </ion-grid>
<ion-grid *ngIf="!isLoding && relevantPlaces.length > 0">
  <ion-row>
    <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{relevantPlaces[0].title}}</ion-card-title>
          <ion-card-subtitle>{{relevantPlaces[0].price | currency}}/night</ion-card-subtitle>
        </ion-card-header>
        <ion-img [src]="loadedPlaces[0].imageUrl"></ion-img>
        <ion-card-content>
          <p>{{relevantPlaces[0].description}}</p>
        </ion-card-content>
        <div>
       <ion-button fill="clear" color="primary" [routerLink]="['/','places','tabs','discover',relevantPlaces[0].id]">More</ion-button>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col  size="12" size-sm="8" offset-sm="2" text-center>
      <ion-list>
        <ion-item *ngFor="let place of loadedPlaces.slice(1)" detail [routerLink]="['/','places','tabs','discover',place.id]">
          <ion-thumbnail slot="start">
         <ion-img [src]="place.imageUrl">  
         </ion-img>
          </ion-thumbnail>
          <ion-label>
            <h2>{{place.title}}</h2>
            <p>{{place.description}}</p>
          </ion-label>

        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
