<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/places/tabs/offers/new">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
      
    </ion-buttons>
    <ion-title>My Offers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
    <ion-row>
        <ion-col  size="12" size-sm="8" offset-sm="2" text-center>
          <div class="ion-text-center"> 
              <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
          </div>
          
          <p class="ion-text-center" *ngIf="!isLoading && offers.length <= 0">No offer found!!</p>
          <ion-list *ngIf="!isLoading && offers.length > 0">
            <ion-item-sliding *ngFor="let offer of offers" #slidingItem>
              <app-offer-item [offer]="offer"></app-offer-item>
                <ion-item-options>
                  <ion-item-option color="secondary" (click)="onEdit(offer.id,slidingItem)" >
                   <ion-icon name="create" slot="icon-only"></ion-icon>
                  </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
            
          </ion-list>
        </ion-col>
      </ion-row>
</ion-grid>
</ion-content>
