<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
   <ion-back-button [defaultHref]="'/place/tabs/offers/'+ placeId"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Offer</ion-title>
    <ion-buttons slot="primary">
        <ion-button (click)="onUpadtedOffer()" [disabled]="!form?.valid">
            <ion-icon name="checkmark" slot="icon-only"></ion-icon>
          </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<div *ngIf="isLoading" >
  <ion-spinner class="primary"></ion-spinner>
</div>
    <form [formGroup]="form" *ngIf="!isLoading">
        <ion-grid>
            <ion-row>
              <ion-col size-sm="6" offset-sm="3">
                <ion-item>
                  <ion-label position="floating">Title </ion-label>
                  <ion-input type="text" autocomplete autocorrect formControlName="title"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                  <ion-item>
                    <ion-label position="floating">Description </ion-label>
                    <ion-textarea row="3" formControlName="description"></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="!form.get('description').valid && form.get('description').touched" >
                <ion-col size-sm="6" offset-sm="3">
                <p>Description must not be longer than 180 characters.</p>
                </ion-col>
              </ion-row> 
               
          </ion-grid>
    </form>
  
