<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
     <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>New Offer</ion-title>
    <ion-buttons slot="primary">
        <ion-button (click)="onCreateOffer()" [disabled]="!form.valid">
            <ion-icon name="checkmark" slot="icon-only"></ion-icon>
          </ion-button>
    </ion-buttons>
 

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form">
      <ion-grid>
          <ion-row>
            <ion-col size-sm="6" offset-sm="3">
              <ion-item>
                <ion-label position="floating">Title </ion-label>
                <ion-input type="text" autocomplete autocorrect formControlName="title"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size-sm="6" offset-sm="3">
                <ion-item>
                  <ion-label position="floating">Description </ion-label>
                  <ion-textarea row="3" formControlName="description"></ion-textarea>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="!form.get('description').valid && form.get('description').touched" >
              <ion-col size-sm="6" offset-sm="3">
              <p>Description must not be longer than 180 characters.</p>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                  <ion-item>
                    <ion-label position="floating">Price </ion-label>
                    <ion-input type="number" formControlName="price"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col size-sm="3" offset-sm="3">
                    <ion-item>
                      <ion-label position="floating">Available from </ion-label>
                      <ion-datetime min="2019-01-01" max="2022-12-31" formControlName="dateFrom"></ion-datetime>
                    </ion-item>
                  </ion-col>
                  <ion-col size-sm="3" >
                      <ion-item>
                        <ion-label position="floating">Available to </ion-label>
                        <ion-datetime min="2019-01-02" max="2025-12-31"formControlName="dateTo" ></ion-datetime>
                      </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col  size-sm="3" offset-sm="3">
                  <app-location-picker></app-location-picker>
                  </ion-col>
                </ion-row>
              
                  <ion-row>
                    <ion-col size-sm="6" offset-sm="3">
                      <app-image-picker
                        [showPreview]="form.get('image').value"
                        (imagePick)="onImagePicked($event)"
                      ></app-image-picker>
                    </ion-col>
                  </ion-row>
        </ion-grid>
  </form>

</ion-content>
