<ion-header>
  <ion-toolbar color="primary">
    <ion-title>recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list> 
<ion-item *ngFor="let recipe of recipes" [routerLink]="['/recipes',recipe.id]"> 
<ion-avatar slot="start">
  <ion-img [src]="recipe.imageUrl"></ion-img>
</ion-avatar>
<ion-label>{{recipe.title}}</ion-label>
</ion-item>
</ion-list>
</ion-content>
