// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #fa0543;
  --ion-color-primary-rgb: 250,5,67;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #dc043b;
  --ion-color-primary-tint: #fb1e56;

  --ion-color-secondary: #c11e36;
  --ion-color-secondary-rgb: 193,30,54;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #aa1a30;
  --ion-color-secondary-tint: #c7354a;

  --ion-color-tertiary: #810ac0;
  --ion-color-tertiary-rgb: 129,10,192;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #7209a9;
  --ion-color-tertiary-tint: #8e23c6;

  --ion-color-success: #157d17;
  --ion-color-success-rgb: 21,125,23;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #126e14;
  --ion-color-success-tint: #2c8a2e;

  --ion-color-warning: #ce9b00;
  --ion-color-warning-rgb: 206,155,0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #b58800;
  --ion-color-warning-tint: #d3a51a;

  --ion-color-danger: #cf162e;
  --ion-color-danger-rgb: 207,22,46;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #b61328;
  --ion-color-danger-tint: #d42d43;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,36,40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
  --ion-toolbar-background:var(--ion-color-primary);
  --ion-toolbar-color:var(--ion-color-primary-contrast)
}