<ion-app>
  <ion-menu side="start" menuId="m1">
<ion-header>
  <ion-toolbar>
    <ion-title>
      PairBnB
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-menu-toggle menu="m1">
    <ion-item lines="none" routerLink="/places/tabs/discover"> 
      <ion-icon name="business" slot="start">
      </ion-icon>
      <ion-label>Discover Places</ion-label>
    </ion-item>
  </ion-menu-toggle>
  <ion-menu-toggle>
    <ion-item lines="none" routerLink="/bookings">
        <ion-icon name="checkbox-outline" slot="start" >
        </ion-icon>
        <ion-label>Your Booking</ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-item lines="none" (click)="onLogout()" button>
          <ion-icon name="Exit" slot="start">
          </ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-menu-toggle>
  </ion-list>
</ion-content>
    </ion-menu>
 
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
