<ion-item 

>
  <ion-thumbnail slot="start">
 <ion-img [src]="offer.imageUrl">  
 </ion-img>
  </ion-thumbnail>
  <ion-label>
    <h2>{{offer.title}}</h2>
  <div calss="offer-details">
    <ion-icon name="calendar" class="space-left"></ion-icon>

    <ion-text color="primary" class="space-left">{{getDummyDate()|date}}</ion-text>
    <span>to</span>
    <ion-icon name="calendar" class="space-left"></ion-icon>
    <ion-text color="primary" class="space-left">{{getDummyDate()|date}}</ion-text>
  </div>
  </ion-label>

</ion-item>
