<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/discovers"></ion-back-button>
    </ion-buttons>
    <ion-title>{{isLoading? 'Loading...':place.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="ion-text-center" *ngIf="isLoading">
   <ion-spinner class="primary"></ion-spinner>
  </div>
  <ion-grid *ngIf="!isLoading" class="ion-no-padding">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-no-padding">
          <ion-img [src]="place.imageUrl"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading" class="ion-no-padding" >
      <ion-row>
        <ion-col size-sm="6" offset-sm="3" class="ion-text-center">
            <p>{{place.description}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>

      <ion-grid >
        <ion-row>
          <ion-col size-sm="6" offset-sm="3" class="ion-text-center" *ngIf="isBookable">
              <ion-button (click)="onBookPlace()">Book</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
